@font-face {
  font-family: 'futura-pt';
  src: url('../../font/futura-pt/FuturaCyrillicMedium.ttf');
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 40px;
  }
  
  .logo {
    width: 130px;
    margin-right: auto;
    margin-left: 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }
  
  .nav-links li {
    margin-right: 30px;
  }

  .nav-links li a {
    font-family: 'futura-pt', sans-serif;
    color: black;
    font-size: 16px;
    text-decoration: none;
  }

  .nav-links li a:hover {
    color: #F96B2B;
  }
  
  .buttons {
    margin-left: 10px;
  }
  
  .button {
    margin-right: 10px;
    background-color: white;
    border: 1px solid #F96B2B;
    padding: 10px 20px;
    font-family: 'futura-pt', sans-serif;
    font-size: 16px;
    border-radius: 10px;
  }

  .button:hover {
    background-color: #F96B2B;
    color: white;
    cursor: pointer;
  }
  
  .button.orange {
    background-color: #F96B2B;
    color: white;
    cursor: pointer;
  }

  .button.orange:hover {
    background-color: white;
    color: black;
  }

  hr {
    color: black;
    size: 2px;
    margin: 0;
  }
  